body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 237, 237);
}

.header {
  display: flex;
  justify-content: space-between;
  flex: row;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header_ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  font-weight: 500;
  color: grey;
  font-size: 1rem;
}

.mymenu {
  background-color: white;
  padding: 18px 0px 18px 0px;
  display: flex;
  justify-content: center;
}

.mymenu_ul {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  flex: row;
  align-items: center;
}

.breadcrumb {
  width: 100%;
}

.breadcrumb_words {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  gap: 8px;
  font-size: 0.8rem;
  margin-left: 18%;
}

.breadcrumb_words_initial {
  color: green;
  font-size: 0.8rem;
  font-weight: bold;
}

.filter_ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.filter_ul li {
  padding: 16px;
  margin: 16px;
  background-color: rgb(3, 160, 3);
  color: white;
}

.offer_card {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.offer_card p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
}

.offer_card h2 {
  font-size: 1.3rem;
  margin-left: 16px;
}

.more_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.offer_price {
  display: flex;
  flex-direction: column;
}

.offer_price p {
  font-size: 1rem;
  margin: 0px;
}

.offer_price h3 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: green;
}

.offer_info p {
  border: solid green 1px;
  font-size: 1rem;
  padding: 16px;
  margin: 0px;
  color: green;
}

.offer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.offer_text {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 996px;
  margin: 0 auto;
  height: 230px;
}

.offer_text h2 {
  font: 1.1rem;
  padding-top: 16px;
  padding-left: 16px;
}

.offer_text p {
  font: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}

.icon_container {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  margin-top: 24px;
}
.icon_ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-images_ads {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.footer_column {
  text-align: center;
  width: 25%;
  align-items: center;
}

.footer_column_title {
  font-size: 1.5rem;
  color: #528e05;
  margin-bottom: 0px;
  margin-top: 24px;
}

.footer_text {
  font-size: 1rem;
  margin-bottom: -13px;
}
